---
description: "Layers of Vision is an art exhibition that explores the experiences and perspectives of blind and partially sighted (BPS) artists living in a world made for sighted people."
pageImageWebPath: "/assets/img/logos/favicon.png"
---
<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <!-- Built with 11ty - {{ "now" | date: "%Y-%m-%d %H:%M" }} -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="King's Digital Lab, King's College London">
    <meta name="description" content="{{ description }}">
    <meta property="og:image" content="{{ metadata.live_domain }}{{ pageImageWebPath }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:title" content="{{ title }}">

    {% comment %}
      <!-- Twitter -->
      <meta name="twitter:card" content="summary">
      <meta name="twitter:site" content="@">
    {% endcomment %}

    <link rel="icon" href="{{ '/assets/img/logos/favicon.png' | url }}" type="image/x-icon">
    <title>{{ title }}
      |
      {{ metadata.title }}
    </title>
    {% comment %}
      generated from assets/css/main.scss
    {% endcomment %}
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}?ts={{ "now" | date: "%s" }}">
    <script src="{{ '/assets/js/navbar-toggle.js' | url }}?ts={{ "now" | date: "%s" }}"></script>
  </head>
  <body class="{{ body_class }}{% if permalink == '/' %} home {% else %} not-home{% endif %}" id="top">
    {% include "header.liquid" %}
    <main id="main" role="main">
      {% if permalink == "/" %}
        <div class="notehead desktop">
          <div>
            <p>
              <strong>21st November &mdash; 16th December</strong><br>
              Coinciding with UK Disability History Month<br>
              Free, no booking required</p>
          </div>
        </div>
      {% endif %}
      <div class="block">
        {% comment %}
          If Homepage, don't show page title
        {% endcomment %}
        {% if permalink != "/" and layout != 'person.liquid' %}
          <h1 class="title">
            {{ title }}
          </h1>
        {% endif %}
        {{ content }}
      </div>
    </main>
    {% include "footer.liquid" %}


    <!-- Switches -->
    <div class="switches desktop">

      <!-- Font size switcher -->
      <div class="switch-wrapper">
        <label class="switch font-sizer" for="font-switcher">
          <span class="sr-only">Toggle font size</span>
          <input type="checkbox" name="font-resizer" id="font-switcher">
          <div class="switch-icon round" aria-hidden="true">
            <p>
              <small>A</small>A
            </p>
          </div>
        </label>
      </div>

      <!-- Dark/Light mode switcher -->
      <div class="switch-wrapper">
        <label class="switch theme desktop" for="mode-switcher">
          <span class="sr-only">Toggle Dark/Light Mode</span>
          <input type="checkbox" name="dark-light-switcher" id="mode-switcher">
          <div class="switch-icon round" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path d="M448 256c0-106-86-192-192-192V448c106 0 192-86 192-192zm64 0c0 141.4-114.6 256-256 256S0 397.4 0 256S114.6 0 256 0S512 114.6 512 256z"/>
            </svg>
          </div>
        </label>
      </div>
    </div>

    <!-- JS -->
    <script src="{{ '/assets/js/main.js' | url }}"></script>
  </body>
</html>