---
description: "Layers of Vision is an art exhibition that explores the experiences and perspectives of blind and partially sighted (BPS) artists living in a world made for sighted people."
pageImageWebPath: "/assets/img/logos/lov-temp-logo.png"
---
<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <!-- Built with 11ty - {{ "now" | date: "%Y-%m-%d %H:%M" }} -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="King's Digital Lab, King's College London">
    <meta name="description" content="{{ description }}">
    <meta property="og:image" content="{{ metadata.live_domain }}{{ pageImageWebPath }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:title" content="{{ title }}">

    {% comment %}
      <!-- Twitter -->
      <meta name="twitter:card" content="summary">
      <meta name="twitter:site" content="@">
    {% endcomment %}

    <link rel="icon" href="{{ '/assets/img/logos/lov-temp-logo.png' | url }}" type="image/x-icon">
    <title>{{ title }}
      |
      {{ metadata.title }}
    </title>
    {% comment %}
      generated from assets/css/main.scss
    {% endcomment %}
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}?ts={{ "now" | date: "%s" }}">
    <script src="{{ '/assets/js/navbar-toggle.js' | url }}?ts={{ "now" | date: "%s" }}"></script>
  </head>
  <body class="{{ body_class }}">
    {% include "header.liquid" %}
    <main id="main">
      <div class="block">
        {% comment %}
          If Homepage, don't show page title
        {% endcomment %}
        {% if permalink != "/" %}
          <h1 class="title">
            {{ title }}
          </h1>
        {% endif %}
        {{ content }}
      </div>
    </main>
    {% include "footer.html" %}

    <!-- Dark/Light mode switcher -->
    <div class="theme-switch-wrapper">
      <label class="theme-switch" for="switcher">
        <span class="sr-only">Toggle Dark/Light Mode</span>
        <input type="checkbox" name="dark-light-switcher" id="switcher">
        <div class="switch round">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path d="M448 256c0-106-86-192-192-192V448c106 0 192-86 192-192zm64 0c0 141.4-114.6 256-256 256S0 397.4 0 256S114.6 0 256 0S512 114.6 512 256z"/>
          </svg>
        </div>
      </label>
    </div>

    <!-- JS -->
    <script src="{{ '/assets/js/main.js' | url }}"></script>
  </body>
</html>
