---
description: "Layers of Vision is an art exhibition that explores the experiences and perspectives of blind and partially sighted (BPS) artists living in a world made for sighted people."
pageImageWebPath: "/layers-of-vision/assets/img/logos/lov-temp-logo.png"
---
<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <!-- Built with 11ty - {{ "now" | date: "%Y-%m-%d %H:%M" }} -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="King's Digital Lab, King's College London">
    <meta name="description" content="{{ description }}">
    <meta property="og:image" content="{{ metadata.live_domain }}{{ pageImageWebPath }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:title" content="{{ title }}">

    {% comment %}
      <!-- Twitter -->
      <meta name="twitter:card" content="summary">
      <meta name="twitter:site" content="@">
    {% endcomment %}

    <link rel="icon" href="{{ '/layers-of-vision/assets/img/logos/lov-temp-logo.png' | url }}" type="image/x-icon">
    <title>{{ title }}
      |
      {{ metadata.title }}
    </title>
    {% comment %}
      generated from assets/css/main.scss
    {% endcomment %}
    <link rel="stylesheet" href="{{ '/layers-of-vision/assets/css/main.css' | url }}?ts={{ "now" | date: "%s" }}">
    <script src="{{ '/layers-of-vision/assets/js/navbar-toggle.js' | url }}?ts={{ "now" | date: "%s" }}"></script>
  </head>
  <body class="{{ body_class }}">
    {% include "header.html" %}
    <main id="main">
      <div class="block">
        <h1 class="title">
          {{ title }}
        </h1>
        {{ content }}
      </div>
    </main>
    {% include "footer.html" %}

    <!-- Dark/Light mode switcher -->
    <div class="theme-switch-wrapper">
      <label class="theme-switch">
        <input type="checkbox">
        <div class="slider round"></div>
      </label>
      <em>Toggle Dark/Light Mode</em>
    </div>

    <!-- JS -->
    <script src="/layers-of-vision/assets/js/main.js"></script>
  </body>
</html>
