---
eleventyComputed:
    title: "{{ firstName }} {{ lastName }}"
layout: base.liquid
---

{% assign previousArtist = collections.artists | sort: 'data.order' | getPreviousCollectionItem: page %}
{% assign nextArtist = collections.artists | sort: 'data.order' | getNextCollectionItem: page %}

<nav class="row prev-next" aria-label="Artist list">
  <div class="col-auto">
    {% if previousArtist %}
      <a href="{{ previousArtist.url | url }}" class="button prev">
        Previous
        <span class="sr-only">artist: {{ previousArtist.data.firstName }} {{ previousArtist.data.lastName }}</span>
      </a>
    {% endif %}
  </div>
  <div class="col-end">
    {% if nextArtist %}
      <a href="{{ nextArtist.url | url }}" class="button next">
        Next
        <span class="sr-only">artist: {{ nextArtist.data.firstName }} {{ nextArtist.data.lastName }}</span>
      </a>
    {% endif %}
  </div>
</nav>

<div class="artist block">
  {% comment %}
    <div class="row pre-title">
    <div class="col-auto">
    <span class="square">{{ order }}</span>
    </div>
    <div class="col-end">
    <a href="#" class="button small">View Floorplan</a>
    </div>
    </div>
  {% endcomment %}
  <h1 class="title">{{ title }}</h1>
  <h2>{{ workTitle }}</h2>
  <div class="row-full">
    <div class="col-start">
      <p>{{ year }}</p>
      <p>{{ workType }}</p>
      <p>({{ workSize }})</p>
    </div>
    <div class="col-auto">
      <p>{{ workDescription }}</p>
    </div>
  </div>

  {% if audioLink %}
    <!-- Audio block -->
    <figure>
      <audio controls src="{{ audioLink | url }}">
        <a href="{{ audioLink | url }}">Download audio</a>
      </audio>
      <figcaption>Listen to lorem ipsum dolor</figcaption>
    </figure>
  {% endif %}

  {% if transcriptLink %}
    <div class="transcript-btn">
      <a href="{{ transcriptLink | url }}" class="button small">Download transcript</a>
    </div>
  {% endif %}

  {% if workVideo %}
    <!-- Video block -->
    <figure>
      <video controls>
        <source src="{{ workVideoWebm }}" type="video/webm">
        <source src="{{ workVideoMp4 }}" type="video/mp4">
        Download the
        <a href="{{ workVideoWebm }}">WEBM</a>
        or
        <a href="{{ workVideoMp4 }}">MP4</a>
        video.
      </video>
      {% if workVideoCaption %}
        <figcaption>workVideoCaption</figcaption>
      {% endif %}
    </figure>
  {% endif %}

  {% if workImage %}
    <figure>
      <img src="{{ workImage | url }}" alt="{{ altText }}">
      <figcaption aria-hidden="true">{{ altText }}</figcaption>
    </figure>
  {% endif %}

  {% if workImage2 %}
    <figure>
      <img src="{{ workImage2 | url }}" alt="{{ altText2 }}">
      <figcaption aria-hidden="true">{{ altText2 }}</figcaption>
    </figure>
  {% endif %}

  {% if workImage3 %}
    <figure>
      <img src="{{ workImage3 | url }}" alt="{{ altText3 }}">
      <figcaption aria-hidden="true">{{ altText3 }}</figcaption>
    </figure>
  {% endif %}

  {% if workImage4 %}
    <figure>
      <img src="{{ workImage4 | url }}" alt="{{ altText4 }}">
      <figcaption aria-hidden="true">{{ altText4 }}</figcaption>
    </figure>
  {% endif %}

  <a href="{{ '/exhibition/#floorplan' | url }}" class="button small">View Floorplan</a>

  <h2>Artist Bio</h2>
  <div class="row-full">
    <div class="col-start">
      {% if artistWeb %}
        <p>
          <a href="//{{ artistWeb }}">{{ artistWeb }}</a>
        </p>
      {% endif %}
      {% if artistInsta %}
        <p>
          <a href="//instagram.com/{{ artistInsta }}">@{{ artistInsta }}</a>
        </p>
      {% endif %}
      {% if artistTwitter %}
        <p>
          <a href="//twitter.com/{{ artistTwitter }}">@{{ artistTwitter }}</a>
        </p>
      {% endif %}
    </div>
    <div class="col-auto">
      {{ content }}
    </div>
  </div>
</div>