---
eleventyComputed:
    title: "{{ firstName }} {{ lastName }}"
layout: base.liquid
---

<div class="artist block">
  <div class="row">
    <div class="col-auto">
      <span class="square">{{ order }}</span>
    </div>
    <div class="col-end">
      <a href="#" class="button small">Floorplan</a>
    </div>
  </div>
  <h2>{{ workTitle }}</h2>
  <div class="row-full">
    <div class="col-start">
      <p>{{ year }}</p>
      <p>{{ workType }}</p>
      <p>({{ workSize }})</p>
    </div>
    <div class="col-auto">
      {{ workDescription }}
    </div>
  </div>

  {{ content }}
</div>