---
eleventyComputed:
    title: "{{ firstName }} {{ lastName }}"
layout: base.liquid
---

{% assign previousArtist = collections.artists | sort: 'data.order' | getPreviousCollectionItem: page %}
{% assign nextArtist = collections.artists | sort: 'data.order' | getNextCollectionItem: page %}

<nav class="row prev-next" aria-label="Artist list">
  <div class="col-auto">
    {% if previousArtist %}
      <a href="{{ previousArtist.url | url }}" class="button prev">
        Previous
        <span class="sr-only">artist: {{ previousArtist.data.firstName }} {{ previousArtist.data.lastName }}</span>
      </a>
    {% endif %}
  </div>
  <div class="col-end">
    {% if nextArtist %}
      <a href="{{ nextArtist.url | url }}" class="button next">
        Next
        <span class="sr-only">artist: {{ nextArtist.data.firstName }} {{ nextArtist.data.lastName }}</span>
      </a>
    {% endif %}
  </div>
</nav>

<div class="artist block">
  {% comment %}
    <div class="row pre-title">
    <div class="col-auto">
    <span class="square">{{ order }}</span>
    </div>
    <div class="col-end">
    <a href="#" class="button small">View Floorplan</a>
    </div>
    </div>
  {% endcomment %}
  <h1 class="title">{{ title }}</h1>
  <h2>{{ workTitle }}</h2>
  <div class="row-full">
    <div class="col-start">
      <p>{{ year }}</p>
      <p>{{ workType }}</p>
      <p>({{ workSize }})</p>
    </div>
    <div class="col-auto">
      <p>{{ workDescription }}</p>
    </div>
  </div>

  <!-- Audio block -->
  <figure>
    <audio controls src="{{ audioLink | url }}">
      <a href="{{ audioLink | url }}">Download audio</a>
    </audio>
    <figcaption>Listen to lorem ipsum dolor</figcaption>
  </figure>

  <div class="transcript-btn">
    <a href="{{ transcriptLink | url }}" class="button small">Download transcript</a>
  </div>

  <figure>
    <img src="{{ workImage | url }}" alt="{{ altText }}">
    <figcaption>Image caption</figcaption>
  </figure>

  <a href="#" class="button small">View Floorplan</a>

  <h2>Artist Bio</h2>
  <div class="row-full">
    <div class="col-start">
      <p>
        <a href="//{{ artistWeb }}">{{ artistWeb }}</a>
      </p>
      <p>
        <a href="//instagram.com/{{ artistInsta }}">@{{ artistInsta }}</a>
      </p>
    </div>
    <div class="col-auto">
      {{ content }}
    </div>
  </div>
</div>